@model WebApplication2.Database.loai_xe
@{
    ViewBag.Title = "chi_tiet_loai_xe";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2>chi_tiet_loai_xe</h2>
<div>
    <h4>loai_xe</h4>
    <hr />
    <dl class="dl-horizontal">



        <dt>
            @Html.DisplayNameFor(model => model.ten_loai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ten_loai)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>

